.App {
    text-align: center;
  }
  
  * {
    margin: 0 auto;
    font-family: Comic Sans MS;
    justify-content: space-around;
    box-sizing: border-box;
    max-width: 900px;
    text-align: center;
    margin-bottom: 10px;
    }
  
    .button{
        /* background-color:green; */
    }
 
